body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
a{
    color: rgb(174, 209, 254);
}
a:hover{
    color: rgb(150, 180, 219);
    animation: ease-in 5ms;
}
/* Navigation Bar */
.logo-placement p{
    margin: 0;
}
.navbar-logo{
    padding: 1rem;
    width: 15vw;
    max-width: 90px;
}
.navigation{
    display: flex;
    top: 0;
    background-color: #000000;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
.navigation p, li, ul{
    font-size: 0.8rem;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.navigation a{
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

@keyframes hoverTransition{
    from{
        opacity: 1;
    }
    to{
        opacity: .5;
    }
}

.navigation a:hover{
    animation: hoverTransition 0.2s ease;
    opacity: 50%;
}
/* End of navigation bar */
/* Start of main */
/* Start of Profile */
