:root{
    --background-color: #1a1a1a;
    --links: rgb(174, 209, 254);
    --navigation-bgc: #000;
    --site-font: 'Poppins', 'sans-serif';
    --text-color: #fff;
    --card-bg: rgb(41, 41, 41);
    --card-inner-bg: rgb(69, 69, 69);
    --card-border-radius: 2vw;
    --card-hover: #343434;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: #fff;
    font-family: var(--site-font);
}
a{
    color: rgb(174, 209, 254);
}
a:hover{
    color: rgb(150, 180, 219);
    animation: ease-in 5ms;
}
/* Navigation Bar */
.logo-placement p{
    margin: 0;
}
.navbar-logo{
    padding: 1rem;
    width: 15vw;
    max-width: 90px;
}
.navigation{
    display: flex;
    top: 0;
    background-color: #000000;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
.navigation p, li, ul{
    font-size: 0.8rem;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 10px;
    color: white;
    font-family: var(--site-font);
}

.navigation a{
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

@keyframes hoverTransition{
    from{
        font-weight: 500;
    }
    to{
        font-weight: 800;
    }
}

.navigation a:hover{
    animation: hoverTransition 0.2s ease;
    font-weight: 800;
}
/* End of navigation bar */
/* Start of main */

main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 30%;
    min-width: 200px;
    background-color: var(--card-bg);
    border-radius: var(--card-border-radius);
}
@keyframes cardHoverTransition{
    from{
        background-color: var(--card-bg);
    }
    to{
        background-color: var(--card-hover);
    }
}
.card:hover{
    animation: cardHoverTransition 0.2s ease;
    background-color: var(--card-hover);
}

.card img{
    border-radius: var(--card-border-radius);
    margin: -20px;
    max-width: 100%;
}