body{
    margin: 0;
}
nav{
    background-color: red;
    height: 10vh;
    display: flex;
    padding: 10px;
    position: sticky;
}
.navbar-logos{
    display: flex;
    gap: 10px;
}

.navbar-logos img{
    object-fit: contain;
    min-width: 6vh;
    max-width: 60px;
}