:root{
    --background-color: #1a1a1a;
    --links: rgb(174, 209, 254);
    --navigation-bgc: #000;
    --site-font: 'Poppins', 'sans-serif';
    --text-color: #fff;
    --card-bg: rgb(41, 41, 41);
    --card-inner-bg: rgb(69, 69, 69);
    --card-border-radius: 2vw;
    --card-hover: #343434;
}
a{
    text-decoration: none;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: #fff;
    font-family: var(--site-font);
}
a{
    color: rgb(174, 209, 254);
}
a:hover{
    color: rgb(150, 180, 219);
    animation: ease-in 5ms;
}
/* Navigation Bar */
.logo-placement p{
    margin: 0;
}
.navbar-logo{
    padding: 1rem;
    width: 15vw;
    max-width: 90px;
}
.navigation{
    display: flex;
    top: 0;
    background-color: #000000;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

p, ul, li[class~="navigation"]{
    font-size: 0.8rem;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 10px;
    color: white;
    font-family: var(--site-font);
}

.navigation a{
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

@keyframes hoverTransition{
    from{
        font-weight: 500;
    }
    to{
        font-weight: 800;
    }
}

.navigation a:hover{
    animation: hoverTransition 0.2s ease;
    font-weight: 800;
}
/* End of navigation bar */
/* Start of main */
main{
    padding: 2vw;
    margin: 5vw 0 0 5vw;
    width: 800px;
    max-width: 75vw;
}

.blog-title h1{
    max-width: 150vh;
    margin: 0;
    font-size: 5vh;
}
.blog-image img{
    margin-top: 20px;
    max-width: min(800px, 75vw);
}

.dates-and-info p{
    color: rgb(118, 112, 112);
    font-size: 70%;
    margin-top: -10px;
}
.main-text{
    text-align: justify;
}
.location{
    font-weight: 800;
}

.content-image{
    
}