html{
    font-family: 'Open Sans', sans-serif;
}

main{
    margin: 5vh auto 0 auto;
    width: 70vw;
    height: 50vh;
    text-align: center;
}

h5{
    font-size: min(30px, 4vw);
}
img{
    width: 300px;
    max-width: 60vw;
}